

.bg-dark {
    background-color: #642b88!important
}

.bg-contact-item {
    height: 48vh;
    min-height: 100px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  

.bg-contact {
    position: relative;
  }
  
  .bg-contact-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .bg-contact-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  .bg-contact-item.active,
  .bg-contact-item-next,
  .bg-contact-item-prev {
    display: block;
  }
  
  .bg-contact-item-next,
  .bg-contact-item-prev {
    position: absolute;
    top: 0;
  }
  
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

#content-custom{
    margin-top:70px;
}


#headcontent{
    position: absolute;
    top:220px;
    width: 96.66666666666666%;
    text-align:center;
    color:#fff;
}

#headcontent h4{
    font-size:50px;
    color:#ffcd0c;
    font-family: 'Oswald', sans-serif;
    text-shadow: -2px 3px 0px rgba(58, 58, 58, 0.34);
    
}

#headcontent p{
    font-size:20px;
}


#headcontent img{
    width: 70%;
}

#headcontent input[type="search"]{
    padding:15px;
    width:300px;
    height:50px;
    border: none;
    text-shadow:none;
    
}

#formset{
    background-color:#f2f2f2;
    padding:60px 0 60px 0;
}

.btn-warning{
    width: 65px;    
}

.btn-primary {
    width:171px;
}

/* .btn-search{
    height:49px;
    width:100px;
    border:1px #fff solid;
    background: none;
    color:#fff;
} */

::-webkit-input-placeholder { 
    color:#969595;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
  }


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
    padding-left: 15px;
}

.card-body ul .li{
    line-height: 10px;
}



@media(max-width: 768px){
    #headcontent{
        margin:-120px 0;
    }

    #headcontent h4{
        font-size:30px;
    }

    #headcontent p{
        font-size:15px;
        text-align:center;
    }

    #headcontent .btn-search{
        width:93.5%;
        margin-top:10px;
        border-radius: 10px;
    }

    #headcontent input[type="search"]{
        width:270px;
    }

    .btn-primary {
        width:294px;
    }

}

@media(max-width: 320px){
    #headcontent{
        margin:-150px 0;
    }

    #headcontent h4{
        font-size: 20px;
    }

    .btn-lg, .btn-group-lg > .btn{

    }

    .btn-primary {
        width:65px;
    }

}

